<div class="p-3">
    <div class="row">
        <div class="form-group col-lg-4 col-md-6">
            <label for="city">Select city</label>
            <select class="form-control" id="city" [(ngModel)]="selectedCity" (change)="getBankList(selectedCity)">
                <option value="">Select a city</option>
                <option *ngFor="let city of cityList"> {{city}} </option>
            </select>
        </div>
        <div class="col-lg-8 col-md-6">
            <button class="btn btn-small btn-secondary shadow float-right mt-4" [routerLink]="['favouriteBank']">
                <i class="fas fa-star fa-2 mr-2" style="color:yellow"></i>Favorite Banks</button>
        </div>
    </div>
    <div>
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table text-center">
            <thead class="thead-light">
                <tr>
                    <th>Bank Name</th>
                    <th>IFSC</th>
                    <th>Branch</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Address</th>
                    <th class="remove-sort">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let bank of bankList">
                    <td class="cursor-pointer text-info" (click)="viewBankModal(bankModal, bank)">{{ bank.bank_name }}</td>
                    <td>{{ bank.ifsc }}</td>
                    <td>{{ bank.branch}}</td>
                    <td>{{ bank.city}}</td>
                    <td>{{ bank.state}}</td>
                    <td>{{ bank.address}}</td>
                    <td>
                        <button type="button" class="btn btn-success btn-sm mr-2" (click)="addFavorite(bank)">
                            <span class="">
                                <i class="fas fa-star fa-2" *ngIf="!bank.isFav"></i>
                                <i class="fas fa-star fa-2" *ngIf="bank.isFav" style="color:yellow"></i>
                            </span>
                        </button>
                    </td>
                </tr>
            </tbody>

        </table>

    </div>
</div>

<ng-template #bankModal let-modal id="bankModal">
    <div>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Bank Details</h4>
            <button class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">

                <div class="row">
                    <div class="col-lg-6">
                        <label for="name">Name :</label> {{bankData.bank_name}}
                    </div>
                    <div class="col-lg-6">
                        <label for="ifsc">IFSC : </label> {{bankData.ifsc}}
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <label for="name">Branch :</label> {{bankData.branch}}
                    </div>
                    <div class="col-lg-6">
                        <label for="ifsc">City : </label> {{bankData.city}}
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <label for="name">District :</label> {{bankData.district}}
                    </div>
                    <div class="col-lg-6">
                        <label for="ifsc">State : </label> {{bankData.state}}
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <label for="name">Address :</label> {{bankData.address}}
                    </div>
                </div>


        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary m-3" (click)="modal.dismiss('Cross click')">Close</button>
            
        </div>
    </div>
</ng-template>